.App .app-container {
  background-color: #fff;
  max-width: 1000px;
  margin: 20px auto;
  padding: 36px;
  border-radius: 6px;
}

.App footer p {
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 300;
}
.App footer p a {
  color: rgb(115, 227, 199);
}

@media (max-width: 600px) {
  .App .app-container {
    margin: 10px auto;
    padding: 28px;
  }
  .App footer p {
    font-size: 10px;
  }
}
