.App .app-container {
  background-color: #fff;
  max-width: 960px;
  margin: 20px auto;
  padding: 36px;
  border-radius: 6px;
  box-shadow: -3px 3px 12px rgba(115, 227, 199, 0.613);
}

.App footer p {
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 300;
}
.App footer p a {
  color: rgb(115, 227, 199);
}

@media (max-width: 576px) {
  .App .app-container {
    margin: 10px auto;
    padding: 28px;
  }
  .App footer p {
    font-size: 10px;
  }
}
