.App .app-container {
  background-color: #fff;
  max-width: 1000px;
  margin: 20px auto;
  border-radius: 6px;
}

.App footer p {
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 300;
}
.App footer p a {
  color: rgb(115, 227, 199);
}
