.Dictionary form {
  display: flex;
  flex-direction: row;
}
.Dictionary form .bar-search {
  border: none;
  border-bottom: solid 1.5px #11a176;
  background-color: #3a3f3d1a;
  border-radius: 2px;
  padding: 2px 8px;
  width: 69%;
}
.Dictionary form .btn-submit {
  background-color: #11a176;
  border: 2px solid #11a176;
  border-radius: 2px;
  color: #fff;

  width: 30%;
}
.Dictionary form .hints-search {
  padding: 0;
  margin-top: 4px;
  font-size: 12px;
  font-weight: 300;
  opacity: 0.8;
}
@media (max-width: 576px) {
  .Dictionary form {
    padding: 0px 20px;
    font-size: 14px;
    margin-bottom: 28px;
  }
}
