span.Phonetics p {
  margin-right: 8px;
  font-size: 18px;
  color: #5d6361;
}
span.Phonetics a {
  margin-right: 8px;
  font-size: 18px;
  text-decoration: none;
  color: #5d6361;
  border-bottom: solid 1px #5d6361;
  transition: all 180ms ease-in-out;
}
span.Phonetics a:hover {
  border-bottom: none;
  color: #11a176;
}

@media (max-width: 576px) {
  span.Phonetics a,
  span.Phonetics p {
    font-size: 14px;
  }
}
