.Results h1,
.Results h2 {
  font-family: "Kameron", serif;
  font-weight: 400;
  font-size: 72px;
  line-height: 1;
}
.Results h2 {
  text-align: end;
}
.Results .line-decoration {
  border-bottom: solid 1.5px #11a176;
}

.Results span.phonetic {
  float: inline-end;

  padding-right: 4px;
}
.Results span.phonetic a {
  color: #79817e;
  font-size: 18px;
  margin-left: 4px;
}
.Results span.phonetic a:hover {
  color: #11a176;
}
.Results .Meaning h3 {
  font-family: "Kameron", serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.4;
  color: #11a176;
  margin-top: 20px;
}

.Results .Meaning div.container-definition {
  margin-left: 12px;
}
.Results .Meaning .container-definition p.definition {
  line-height: 1.2;
  margin: 8px 0 0;
}
.Results .Meaning .container-definition p.example {
  margin-top: 4px;
  margin-left: 10px;
  opacity: 0.8;
  font-style: italic;
  font-size: 14px;
}
@media (max-width: 576px) {
  .Results h1,
  .Results h2 {
    font-size: 52px;
    text-align: center;
  }
  .Results .text-intro {
    font-size: 14px;
  }
  .Results span.phonetic a {
    font-size: 15px;
  }
}
@media (max-width: 768px) {
  .Results span.phonetic {
    float: inline-start;
  }

  .Results h2 {
    text-align: start;
  }
}
