.Results p {
  margin: 0;
}

.Results h1,
.Results h2 {
  font-family: "Kameron", serif;
  font-weight: 400;
  font-size: 72px;
  line-height: 1;
}
.Results h2 {
  text-align: end;
}
.Results div.line-decoration {
  border-bottom: solid 1.5px #11a176;
}

.Results .Meaning h3 {
  font-family: "Kameron", serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.2;
  color: #11a176;
  margin-top: 20px;
  margin-bottom: 0px;
}

.Results .Meaning ul.container-definition {
  margin-left: 24px;
  list-style-type: disc;
  margin-bottom: 0;
  padding-right: 26px;
}
li::marker {
  color: #11a176;
}
.Results .Meaning .container-definition li.definition {
  margin-top: 10px;
  margin-bottom: 3px;
}
.Results .Meaning .container-definition p.example {
  margin-left: 10px;
  opacity: 0.9;
  font-style: italic;
  font-size: 15px;
}
@media (max-width: 576px) {
  .Results h1,
  .Results h2 {
    font-size: 50px;
    text-align: center;
  }
  .Results .Meaning h3 {
    font-size: 18px;
  }
  .Results .text-intro {
    font-size: 14px;
  }
  .Results .Meaning .container-definition li.definition {
    font-size: 13px;
  }
  .Results .Meaning .container-definition p.example {
    font-size: 12px;
  }
}
@media (max-width: 768px) {
  .Results h2 {
    text-align: start;
  }
}
