.Synonyms {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  margin-top: 6px;
}

.Synonyms h6 {
  font-size: 16px;
  font-family: "Kameron", serif;
  line-height: 1.4;
  margin-right: 4px;
  color: #11a176;

  font-weight: 400;
}
.Synonyms p {
  font-size: 14px;
  padding: 0 4px;
  text-decoration: underline;
}
